{% extends "padre.html" %}

{% load static %} <!-- Carpeta copiada de el html descargado de boostrack-->

{% block contenidoQueCambia %}

<div>
    <h1> Busqueda de Mascotas por nombre </h1>
    
    <!--<form action="/AppFamiliares/mascotabuscar/" method="GET">-->
    <form action="" method="GET">   

        <input type="text" name="nombre" id="nombre">

        <input type="submit" value="Buscar">

    </form>

       
        {% for m in mascotas  %}
        
            <p style="color:green"> La mascota es = {{m.nombre}} tipo {{m.Tipo}}</p> 
                                           
        {% endfor %}
    
    
</div>

{% endblock %}